.task{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid blue;
    box-shadow: 5px 5px 10px grey;
    background-color: rgb(193, 255, 255);
    width: 90%;
    height: 30px;
    margin: 5px;
}

.taskId{
    margin-top: auto;
    width: 30px;
    height: 100%;
    background-color: aqua;
    font-size: 10px;
}
.description{
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
    width: 100px
}
.isDone{
    width: 30px;
}
