.task{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid blue;
    box-shadow: 5px 5px 10px grey;
    background-color: white;
    width: 90%;
    height: 30px;
    margin: 5px;
}

.taskId{
    margin:auto;
    width: 20px;
    height: 100%;
    background-color: white;
    font-size: 12px;
}
.description{
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    padding-left: 10px; 
}
.edit{
    width: 100%;
    min-width: 250px;
}
.isDone{
    width: 10%;
}
